# Java files
*.class

# Package Files #
*.jar
*.war
*.ear

# IntelliJ files
*.iml
*.ipr
*.iws
.idea/
/lib/
/out/

# MCP/Forge files
/forge/

# Version file updater
/CCSharpVersionUpdater.exe
/Newtonsoft.Json.dll
